/*

body{
    margin: 0;
    padding: 0;
}

.container{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(to right,#FF512F,#DD2476);
}
.container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: arial;
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 85px;
    margin: 0;
    -webkit-text-stroke: 3px rgba(0, 0, 0, 0.7);
    line-height: 85px;
    
}

.elements div{
    position: absolute;
    width: 60px;
    height: 60px;
    background: transparent;
    border:  6px solid rgba(0, 0, 0, 0.9);

}

.elements div:nth-child(1){
    top: 11%;
    left: 41%;
    animation: animate 10s linear infinite;
}
.elements div:nth-child(2){
    top: 90%;
    left: 49%;
    animation: animate 7s linear infinite;
}
.elements div:nth-child(3){
    top: 62%;
    left: 10%;
    animation: animate 9s linear infinite;
}
.elements div:nth-child(4){
    top: 45%;
    left: 78%;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(-90px) rotate(360deg);
        
        opacity: 1;
    }

    100%{
        transform: scale(1.3) translateY(-90px) rotate(-180deg);
        border-radius: 50px;
        opacity: 0;
    }*/

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }

    body{
        background-color: #0e0d15;
        font-family:"Roboto", sans-serif;
    }

    ::-webkit-scrollbar{
        display: none;
    }

    .header{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(360deg,rgba(0,0,0,0.9),transparent),url(Img/forest.jpg);
        background-size:cover;
        -webkit-background-size:cover;
      padding: 30px;
    }

    .header-text{
        height: 100%;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5%;
     
    }


    .content{
        text-align: center;
  
    }


    .content h1{
        position: relative;
        font-size: 75px;
        color: white;
        margin-bottom: 15px;
    }
    .content p{
        font-size: 28px;
        color: #ddd;
        margin-bottom: 20px;
    }
    
  
/*
    .wrapper{
        width: 90%;
        margin: 50px auto;
        padding: 10px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        font-size: 16px;
        text-align: center;

    }*/


    .single-box{
   overflow: hidden;
   background: transparent;
    cursor: pointer;
    transition: all 0.9s ease;
    border: 1px solid #261923;
    border-radius: 50px;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-top: -300px;
   
    box-shadow: 0 30px 15px rgba(0,0,0,0.5);
   
}



.icon{
    text-align: center;
    line-height: 80px;
    transition: all 0.9s ease;
    background: transparent;
    display: inline-block;
    height: 80px;
    width: 80px;
    color: white;
}


.icon i{
    font-size: 35px;
  
    line-height: 80px;
    transition: all 0.9s ease;

}

.single-box:hover{
    width: 200px;

}

.single-box span{
   
    text-align: center;
    font-weight: 600;
    transition:  all 0.9s ease;
    color: white;
}

.wrapp{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.photo-wrap{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 30px 15px rgba(0,0,0,0.5);
}




.inside-text{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    color: white;
    background: #261923;

}

.inside-text h3{
font-weight: 600;
    text-transform: capitalize;
    position: relative;
    text-align: center;
    font-size: 30px;
    margin: 30 auto;
    margin-top: 70px;
    padding: 70 0 0 0;
    font-weight: 400;
    text-shadow: 0 0 1px white,0 1px rgba(0,0,0,0.2);

}
.inside-text p{
    width: 70%;
    margin: auto;
 color: white;
 font-weight: 400;
    text-align: center;
    font-size: 15px;
    
}

.imgBox{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    box-shadow: inset 0 0 0 15px rgba(255,255,255,0.4);
    transform-origin: 95% 40%;
    transition: all .9s ease-in-out;
    transform: translate(0,0,0);
    background-image: url(Img/perfiljohan.jpg);
    z-index: 12;
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
}

.photo-wrap:hover .imgBox{
    transform: rotate(-150deg);
}

#icon-play{
    font-size: 30px;
    cursor: pointer;
    text-shadow: 10px 10px 2px black;
}

.music:hover{
    text-shadow: 4px 4px 2px black;
   
   
}

/*starsdsfffffffffffffffffffffffffffffffff*/


