
.cont{
    background-image: linear-gradient(#5e2d4f, #2e0e36);
    padding-top: 60px;
   align-self: center;
    width: 100%;
   padding: 0;
   align-items: center;
   align-content: center;
}
.boxes{
    align-items: center;
    align-self: center;
    align-content: center;
   margin: 0;
    text-align: center;
    width: 25%;
    margin-bottom: 80px;
    text-decoration: none;
  display:inline-table;
  
    
}

.boxes i{
    font-size: 80px;
    color: #c2a0ce;
    align-self: center;
    
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;

}



.abouth1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
   margin-bottom: 100px;
    color: #fff;
 
}