#carousel .carousel-inner .carousel-item img{
    height: 100vh;
    width: 100%;
}


.carousel-inner .carousel-item > img{
    -webkit-animation: thing 10s;
    -o-animation: thing 10s;
    animation: thing 10s;
}

@keyframes thing{
    from{
        transition: scale(1,1);
    }to{
        transition: scale(1.5,1.5);
    }
}