body{
    font-family: "Roboto",sans-serif;
  
}
::-webkit-scrollbar{
    display: none;
}

.containercard
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
padding: 40px;
background: linear-gradient(black, #5e2d4f);
}
    .box-card{
position: relative;
width: 300px;
height: 400px;
background: transparent;
box-shadow: 0 30px 30px rgba(0, 0, 0, 0.5);
margin-bottom: 20px;
    }


    .box-card .imgbox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .box-card .imgbox img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
transition: 0.5s;

    }

    

    .box-card .comtemt{
        position: absolute;
        bottom: 30px;
        left: 10%;
        width: 80%;
        height: 60px;
        background:#fff;
        transition: 0.5s;
        overflow: hidden;
        padding: 15px;
        box-sizing: border-box;

    }

    .box-card:hover .comtemt{
        width: 100%;
        height: 230px;
        bottom: 0;
        left: 0;
        padding: 10px;

    }

    .box-card .comtemt h4{
        margin: 0;
        padding: 0;
        font-size: 25px;
        text-align: center;
    }

    .box-card .comtemt p{
margin: 10px 0 0;
padding: 0;
opacity: 0;
line-height: 1.2em;
transition: 0.5s;
text-align: center;

    }

    .box-card .comtemt a{
       
float: right;
        
            }

    .box-card:hover .comtemt p{

       opacity: 1;
       transition-delay: 0.5s;

    }

    #btn {
        background-color: #965695; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        
        
        font-size: 16px;
        align-self: center;
    
         }
         #btn:hover{
           transition: 0.5s;
           background: #0e0d15;
         }
        
      